# Github will automatically request reviews from the owners on new Pull Requests:

*       @ghostmonitor/integrations

# MCP settings are managed by github-config
.mcp.json       @ghostmonitor/platform @recart-platform-internal

# --------------
#    WARNING
# --------------

# This file is automatically updated when a change is pushed to ghostmonitor/github-config